<footer class="center">
  <div class="measure">
    <small>
      <!--<table border=0 style="border: none"><tr><td style="vertical-align: middle; border: none"><img src="/img/ucla-box-blu-rgb-108.png" border=0 style="border: none"></td><td style = "font-size: 12pt; vertical-align: middle; border: none">IDSS is an interdisciplinary research group at the University of California, Los Angeles</td></tr></table> <br/>
      Theme by <a href="http://johnotander.com">John Otander</a><br/>-->
    </small>
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
